body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.shape {
  width: 600px;
  height: 250px;
  background: linear-gradient(0deg, white, red);
  transform: skewX(75deg) rotate(-20deg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
